<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta property="og:title" content="Prefeitura Municipal de Torres" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.torres.rs.gov.br/images/logo2.png" />
  <meta property="og:url" content="http://www.torres.rs.gov.br/" />
  <meta property="og:description" content="Site oficial da prefeitura municipal de Torres - RS." />

  <title>Prefeitura Municipal de Torres - RS</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/home.min.css">

  <link rel="shortcut icon" href="http://torres.rs.gov.br/templates/torres/favicon.ico">
</head>
<body>
  <main id="content" class="content">
    <div class="row">
      <div class="col-xs-12 col-md-4 column-total column-one center-xs">
        <h1>
          <a href="/morador">MORADOR</a>
        </h1>
        <hr />
      </div>
      <div class="col-xs-12 col-md-4 column-total column-two center-xs">
        <h1>
          <a href="/veranista">VERANISTA</a>
        </h1>
        <hr />
      </div>
      <div class="col-xs-12 col-md-4 column-total column-three center-xs">
        <h1>
          <a href="/turista">TURISTA</a>
        </h1>
        <hr />
      </div>
    </div>
  </main><!-- #content -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
